#headerDiscoveryNow {
  font-family: 'Rye', cursive;
  font-size: 55px;
  line-height: 24px;
  z-index: 33;
  position: relative;
  color: #FFF;
  text-shadow: 4px 4px rgba(0,0,0,0.9);
  letter-spacing: -3px;
}

#headerDiscoveryNow span {
  font-family: Android;
  text-shadow:1px 1px rgba(0,0,0,0.9);
  font-size:18px;
  font-weight:300;
  display:block;
  letter-spacing:0;
  margin-top:15px;
}

#contetInicial {
  background-image: url('../img/backgrounds/capa.gif');
}

.content #barImage {
  max-width: 120px;
  max-height: 190px;
  width: 120px;
  height: 190px;
}

.list .item p {
  margin-top:10px;
  margin-bottom: 10px;
}

.btnAddImg {
  width: 22px;
  height: 22px;
  float: right;
  position: absolute;
  z-index:7;
  margin-top: 250px;
  margin-left: 310px;
}

#btnAddImgItem {
  float: right;
  position: absolute;
  z-index:7;
  margin-top: 68px;
  margin-left: -42px; 
}

.text-big .icon, .text-big.icon {
  font-size: 25px!important;
}